@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color-cyan: hsl(180, 66%, 49%);
    --color-dark-violet: hsl(257, 27%, 26%);
    --color-gray: hsl(0, 0%, 75%);
    --color-grayish-violet: hsl(257, 7%, 63%);
    --color-blue: #25316D;
    --color-dark-blue: hsl(255, 11%, 22%);
    --color-dark-violet: hsl(260, 8%, 14%);
    --color-red: hsl(0, 87%, 67%);
    --color-white: #fff;
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 10px 0;
    box-sizing: inherit;
    font-size: 20px;
}

li,a {
    list-style-type: none;
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.navbar{
    padding: 30px 200px;
    display:grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    color: var(--color-gray);
    font-weight: 600;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.nav-links-left , .nav-links-right{
    display: flex;
    align-items: center;
    gap: 80px;
    padding-left: 0px;
}

.nav-links-left li:hover, .nav-links-right > div:hover{
    color: black;
    cursor: pointer;
}

#nav-line{
    display: none;
}

.nav-links-right > button{
    background-color: var(--color-cyan);
    border-radius: 30px;
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
    box-sizing: border-box;
    color: var(--color-white);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    padding: 15px 55px;
    text-align: center;
}

.hero-section{
    padding: 0px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 150px;
}

#hero-section-left-top > h1{
    font-size: 90px;
    line-height: 1.2;
}

#hero-section-left-top > p{
    font-size: 25px;
    line-height: 1.7;
    color: var(--color-gray);
    font-weight: 500;
    margin-top: -20px;
}

#hero-section-left-btn > button{
    background-color: var(--color-cyan);
    border-radius: 40px;
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
    box-sizing: border-box;
    color: var(--color-white);
    font-size: 25px;
    font-weight: 600;
    justify-content: center;
    padding: 15px 50px;
    text-align: center;
}

.hero-section-right{
    width: 100%;
}
.hero-section-right > img{
    width: 100%;
    height: 700px;
}

.main-container{
    background-color: var(--color-gray);
    padding: 100px 200px;
}


.input-section-container{
    background: url('../images/bg-shorten-desktop.svg') no-repeat center center/ cover;
    background-color: var(--color-dark-blue);
    padding: 50px 100px;
    border-radius: 20px;
    transform: translateY(-12rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.input-section{
    display: flex;
    justify-content: center;
    gap: 30px;
}

#empty-error-message{
    color: var(--color-red);
    font-style: italic;
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
}

input{
    width: 75%;
    height: 80px;
    border-radius: 20px;
    font-size: 25px;
    padding-left: 30px;
}

.input-section > button{
    height: 80px;
    background-color: var(--color-cyan);
    border-radius: 20px;
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
    box-sizing: border-box;
    color: var(--color-white);
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
    padding: 20px 60px;
    text-align: center;
}

.user-links{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    font-size: 26px;
    font-weight: 600;
    margin-top: -140px;
}

.user-links > div {
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    background-color: var(--color-white);
    border-radius: 20px;
}

.user-links > div > #longLink{
    width: 900px;
}

.user-links > div > #longLink > p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-links > div > #shortLink{
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--color-cyan);
}

.user-links button{
    background-color: var(--color-cyan);
    border-radius: 15px;
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
    box-sizing: border-box;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    padding: 20px 50px;
    text-align: center;
}

.stats{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.stats > h3, #boost-item > h3{
    font-size: 60px;
}

.stats > p{
    margin-top: -30px;
    font-size: 30px;
    color: var(--color-white);
    font-weight: 600;
}

.grid-items{
    margin: 100px 0px 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.grid-items img{
    background-color: var(--color-blue);
    padding: 30px;
    border-radius: 50%;
    transform: translateY(-6.5rem);
    margin-bottom: -100px;
    height: 60px;
    width: 60px;
}

#brand, #records, #customizable {
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 30px 50px;
}

#brand > h4, #records > h4, #customizable > h4 {
    font-size: 35px;
    margin: 5px 0px;
}


#brand > p, #records > p, #customizable > p {
    font-size: 25px;
    color: var(--color-gray);
    font-weight: 600;
    text-align: left;
}
#records{
    transform: translateY(5rem);
}

#customizable{
    transform: translateY(10rem);
}

.boost{
    background: url('/Project-URL-Shortening-API-Landing-Page/images/bg-boost-desktop.svg') no-repeat center center/ cover;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px 0px;
}

#boost-item > h3{
    margin-top: -10px;
}

#boost-item > button{
    background-color: var(--color-cyan);
    border-radius: 40px;
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
    box-sizing: border-box;
    color: var(--color-white);
    display: inline-flex;
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
    padding: 20px 60px;
    text-align: center;
}

#boost-item > button:active, #hero-section-left-btn > button:active{
    background-color: var(--color-dark-blue);
}

button:hover{
    opacity: .7;
    cursor: pointer;
}

.footer{
    background-color: var(--color-dark-violet);
    color: var(--color-white);
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.footer-top{
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    justify-content: center;
}

.footer-top p{
    color: var(--color-gray);
    font-weight: 600;
}

.footer-top p:hover{
    color: var(--color-cyan);
    cursor: pointer;
}

.media-icons{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.media-icons img{
    width: 40px;
    height: 40px;
}

.media-icons > img:hover{
    background-color: var(--color-cyan);
    cursor: pointer;
}

.attribution{
    text-align: end;
}

.btn:active{
    background-color: var(--color-dark-blue);
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px; 
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 600px) {
    header{
        gap: 0px;
    }
    .navbar{
        padding: 30px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar > .navbar-left{
        position: absolute;
        top: 2rem;
        left: 1rem;
    }

    .toggle-button {
        display: flex;
    }

    .nav-links{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        gap: 0px;
        background-color: var(--color-dark-blue);
        border-radius: 20px;
        margin: 50px;
        padding: 50px 0px;
        font-size: 20px;
    }

    #nav-line{
        display: block;
        width: 80%;
        margin-bottom: 20px;
    }

   .nav-links-left, .nav-links-right {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .nav-links-left , .nav-links-right{
        display: flex;
        align-items: center;
        font-size: 1000;
    }

    .nav-links-right button{
        width: 80%;
        font-size: 1000;
    }

    .nav-links-left{
        margin-top: -10px;
    }

    .nav-links.active {
        -webkit-transition: all 300ms ease-out;
        transition: 0.1s ease-in-out;
        display: flex;  
    }

    .hero-section{
        padding: 10px;
        flex-direction: column-reverse;
        gap: 50px;
        text-align: center;
        margin-bottom: 150px;
    }

    .hero-section-right > img{
        width: 100%;
        height: 350px;
    }

    #hero-section-left-top p{
        font-size: 20px;
    }

    #hero-section-left-top h1{
        font-size: 33px;
    }

    .main-container{
        background-color: var(--color-gray);
        padding: 10px 30px;
    }

    .input-section-container{
        padding: 30px;
        border-radius: 15px;
        transform: translateY(-60px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    
    .input-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        width: 100%;
    }
    
    input{
        width: 100%;
        height: 50px;
        border-radius: 10px;
        font-size: 15px;
        padding: 0px 10px;
    }

    #empty-error-message{
        font-size: 17px;
        font-weight: 400;
    }
    
    .input-section > button{
        height: 50px;
        font-size: 20px;
        width: 105%;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }

    .stats{
        width: 100%;
    }

    .user-links{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 16px;
        margin-top: 0px;
    }
    
    .user-links > div {
        flex-direction: column;
        border-radius: 20px;
        padding: 10px 30px;
        padding-bottom: 30px;
        gap: 20px;
    }
    
    .user-links > div > #longLink{
        width: 100%;
        margin-bottom: -50px;
    }
    
    .user-links > div > #shortLink{
        text-align: left;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .input-section-container{
        background-image: url("../images/bg-shorten-mobile.svg");
        background-position: center;
    }
    
    .user-links button{
        width: 100%;
        padding: 15px 0px;
        margin-top: -40px;
    }
    
    .grid-items{
        display: flex;
        flex-direction: column;
        gap: 150px;
    }
    
    .grid-items img{
        transform: translateY(-4.5rem);
        margin-bottom: -70px;
        padding: 20px;
    }
    
    #brand, #records, #customizable {
        border-radius: 20px;
        padding: 20px 25px;
        text-align: center;
        position: relative;
    }
    
    #brand > h4, #records > h4, #customizable > h4 {
        font-size: 25px;
        margin: 5px 0px;
    }
    
    
    #brand > p, #records > p, #customizable > p {
        font-size: 18px;
        text-align: center;
    }

    #records{
        transform: translateY(0rem);
    }
    
    #customizable{
        transform: translateY(0rem);
    }

    .boost{
        background-image: url("../images/bg-boost-mobile.svg");
    }

    #boost-item > button{
        font-size: 20px;
        font-weight: 600;
        padding: 15px 60px;
    }

    .stats > h3, #boost-item > h3{
        font-size: 30px;
    }
    
    .stats > p{
        font-size: 17px;
        margin-top: -20px;
    }

    .footer-top{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }

    .footer{
        padding: 50px 20px;
    }

    .footer p{
        font-size: 17px;
    }

    .attribution{
        text-align: center;
        font-size: 15px;
    }
}

